* {
    box-sizing: border-box;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'roboto', sans-serif;
}

body {
    margin: 0;
    background-color: #fff;
}

/* header */
.header {
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
}

.header__nav {
    border-bottom: 1px solid rgba(0,0,0,.1);
    height: 58px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 11px 0;   
}

.header__logo,
.nav__search,
.nav-list {
    display: flex;
    align-items: center;
}

.header__logo-link {
    display: block;
    padding-right: 14px;
}

.header__text-link {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: var(--black-color);
    font-weight: 500;
    text-decoration: none;
}

.nav__search-icon {
    font-size: 2rem;
    padding-right: 10px;
}

.nav__search-input {
    font-size: 1.6rem;
    width: 300px;
    outline: none;
    border: none;
    border-bottom: 3px solid #5551ff;
    line-height: 2.4rem;
    margin-top: -1px;
    padding: 0 4px;
    caret-color: #5551ff;
}

.nav-list{
    height: 100%;
}

.nav-item {
    list-style: none;
    color: var(--black-color);
    font-size: 1.6rem;
}

.log-in {
    padding: 0 32px;
}


.sign-up {
    color: var(--white-color);
   background-color: var(--black-color);
}