/* mobile and tablet */
@media (max-width: 1023px) {
}

/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    .hide-on-tablet {
        display: none;
    }

    .footer__contact {
        margin-top: 30px;
    }

    .footer__contact-paragraph {
        flex-direction: column;
    }

    .footer__contact-phone {
        margin: 0;
    }
        
}   

/* mobile */
@media (max-width: 739px) {
    .hide-on-mobile {
        display: none;
    }

    .margin-on-moblie {
        margin: 0;
    }

    .header__nav,
    .content__body {
        margin: 0 8px;
    }

    .header__nav-cart-btn {
        width: 100%;
        min-height: 30px;
    }  

    .footer-on-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__connect-social {
        justify-content: center;
    }

    .footer__contact-paragraph {
        display: flex;
        flex-direction: column;
    }

    .footer__contact-phone {
        margin: 0;
    }

    .footer__contact-img {
        float: none;
    }
}

@media (min-width: 1024px) {
    .hide-on-pc {
        display: none;
    }

    .header__nav-item:nth-child(2):hover .item__menu{
        display: block;
    }
}